body {
  margin: 0;
  background-color: #333333;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: hidden; /* Hide scrollbars */
}

#game-start {
  margin-top: 100px;
}

h1 {
  color: white;
  font-size: 7vw;
}

h1 span {
  color: gray;
}

p {
  color: lightgrey;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
}

#lose {
  margin-top: 100px;

  display: none;
}

#win {
  margin-top: 100px;

  display: none;
}

#win h1 {
  color: red;
}

#retry {
  color: red;
  margin-top: 100px;
}

#racket {
  position: absolute;
  background-color: white;
  top: 50vh;
  transform: translateY(-50%);
  width: 1.5vh;
  height: 10vh;
  border-radius: 1vh;
}

#ball {
  position: absolute;
  background-color: white;
  top: 50vh;
  left: 10vw;
  /*transform: translateX(-50%);
  transform: translateY(-50%);*/
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: red;
}

#wallHead {
  position: absolute;
  background-color: gray;
  top: 0;
  left: 100%;
  transform: translateX(-70%);
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
}

#wall {
  position: absolute;
  background-color: gray;
  top: 0;
  margin-left: 100%;
  transform: translateX(-70%);
  width: 4vh;
  height: 100%;
}

#start-button {
  width: 200px;
  height: 50px;
  font-size: large;
  background-color: red;
  border-style: none;
  border-radius: 1vw;
  margin-top: 5vh;
  color: white;
}
